.header-container {
  width: 98%;
  background: var(--black-accent);
  display: flex;
  height: 4rem;
  align-items: center;
  padding-left: 2rem;
  padding-right: 2rem;
  position: fixed;
  top: 0;
  z-index: 10;
}

.burger-menu {
  display: none !important;

  @media (max-width: 1000px) {
    display: grid !important;
  }
}

.mat-sidenav {
  z-index: 10;
  width: 15rem;
}

.mat-mdc-button {
  width: 100% !important;
}

.mat-drawer-container {
  position: unset !important;
}

.last-button {
  margin-top: 5rem;
}

.big-button {
  height: 3rem;
}
