<div class="container-flex">
  <app-management-dashboard-container
    [title]="'User Verwaltung'"
    [url]="['/management', 'user']"
    [iconName]="'person'"
  >
  </app-management-dashboard-container>
  <app-management-dashboard-container
    [title]="'Kategorie Verwaltung'"
    [url]="['/management', 'category']"
    [iconName]="'category'"
  >
  </app-management-dashboard-container>
  <app-management-dashboard-container
    [title]="'Produkt Verwaltung'"
    [url]="['/management', 'product']"
    [iconName]="'inventory'"
  >
  </app-management-dashboard-container>
  <app-management-dashboard-container
    [title]="'Tages Verwaltung'"
    [url]="['/management', 'grocery-working-day']"
    [iconName]="'today'"
  >
  </app-management-dashboard-container>
</div>
